# Python Project Dependencies
# Add libraries here as they are identified.
requests
PyYAML
schedule
beautifulsoup4==4.12.3
Pillow==10.4.0
numpy==1.24.3
click
Flask
playwright==1.48.0
diff-match-patch
opencv-python==4.8.1.78
scikit-image
greenflare==1.0.2
lxml
Flask-APScheduler
Flask-WTF
WTForms
humanize
email-validator

# schedule==1.2.0
# beautifulsoup4==4.11.1
# selenium==4.18.1
# Pillow==9.3.0
# PyYAML==6.0 